<div class="page-footer">
<div class="row">
    <div class="col-lg-12">

        <ul class="list-inline">
            <li class="pull-right"><a href="#top"><i class="fa fa-arrow-up"></i> Back to top</a></li>

            <li><a href="https://github.com/KurzonDax/seedman/"><i class="fa fa-github"></i> Get the latest code from Github</a></li>

        </ul>
        <p>Made by <a href="https://github.com/KurzonDax" rel="nofollow">KurzonDax</a>. Portions of the code released under
            the <a href="https://raw.githubusercontent.com/KurzonDax/seedman/master/LICENSE">MIT License</a>.</p>

        <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from
            <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from
            <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>

    </div>
</div>
</div>