<div class="container-fluid">
    <div class="pull-right col-md-3 well" style="margin-top: 15px">
        <blockquote>Unicorns are awesome,<br>I am awesome,<br>Therefore, I am a unicorn.</blockquote>
    </div>
    <h1 class="text-danger"><i class="fa fa-exclamation-triangle"></i> 404 - Page Not Found</h1>
    <h3>Looking for magical unicorns and rainbows?</h3>
    <div class="col-lg-8">
        With all due respect, you aren't going to find what you are looking for this way.  Please fix your <abbr title="Unicorn Resource Locator">URL</abbr>
        or possibly use the navigation bar at the top of the page to reach your final destination.  Or you can wait for the magical unicorn to arrive who
        will show you the error of your ways.
    </div>

</div>